
<h1>{{model.head}}</h1>
<img src={{model.image}} width="600" height="auto">
<p class="story">{{model.text}}</p>
<p class="byline">Written with love by: {{model.author}}</p>
{{story-detail story=model}}
